<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <servlet>
  <servlet-name>lServlet</servlet-name>
  <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>lServlet</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>indServlet</servlet-name>
  <servlet-class>servlets.IndexServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>indServlet</servlet-name>
  <url-pattern>/user</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>forServlet</servlet-name>
  <servlet-class>servlets.ForgotPServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>forServlet</servlet-name>
  <url-pattern>/forgottenPassword</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>RindServlet</servlet-name>
  <servlet-class>servlets.RegisterServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>RServlet</servlet-name>
  <url-pattern>/register</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>admitionServlet</servlet-name>
  <servlet-class>servlets.RegisterServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>admitionServlet</servlet-name>
  <url-pattern>/admition</url-pattern> 
  </servlet-mapping>
  
  
</web-app>